/* fonts
   ----- */

/* sans-serif */
@font-face { font-family: "Cat-Regular"; src: url("fonts/catamaran_sans_serif/Catamaran-Regular.woff") format("woff"), url("fonts/catamaran_sans_serif/Catamaran-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* serif font */
@font-face { font-family: "Droid-Regular"; src: url("fonts/droid_serif/DroidSerif-Regular.woff") format("woff"), url("fonts/droid_serif/DroidSerif-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }