@import "fonts.scss";

// colors
$color-one-primary: #ffffff;
$color-two-primary: #000000;
$color-three-primary: #EEB902;
$color-four-primary: #F45D01;
$color-five-primary: #5887FF;
$color-five-primary: #9eb3e8;
$color-six-primary: #cccccc;

// font families
// -------------

// sans-serif
$catRegular: "Cat-Regular", sans-serif;

// serif
$droidRegular: "Droid-Regular", serif;

// breakpoints
$screen-sm: 768px;
$screen-md: 1024px;